body {
  margin: 0;
  background: black;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

#mainContent {
  display: none;
}

/* LOCK */
#lockScreen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input, button {
  padding: 10px;
  border-radius: 20px;
  border: none;
}

/* IMAGES */
.main-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* SEARCH */
.search-box {
  margin-top: -60px;
}

.search-box input {
  width: 60%;
  padding: 12px;
  border-radius: 30px;
  border: 2px solid white; /* WHITE BORDER */
  background: rgba(255,255,255,0.1);
  color: white;
  outline: none;
}

/* MIDDLE SECTION */
.middle-section {
  position: relative;
}

/* TEXT ON IMAGE */
.overlay-text {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  color: #800000;
  font-style: italic;
  line-height: 1.6;
  text-shadow: 0 0 6px rgba(0,0,0,0.7);
}

.poem {
  padding: 20px;
  line-height: 1.6;
  font-size: 14px;
  color: #800000; /* maroon */
  font-style: italic;
}