body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: white;
  text-align: center;
}

/* Lock screen */
#lockScreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

input, button {
  padding: 10px;
  border-radius: 20px;
  border: none;
}

/* Images */
.main-img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* Search */
.search-box {
  position: relative;
  margin-top: -60px;
}

.search-box input {
  width: 60%;
  padding: 12px;
  border-radius: 25px;
  background: rgba(255,255,255,0.2);
  color: white;
  outline: none;
}

/* Result image */
#resultImg {
  margin-top: 20px;
  width: 200px;
  border-radius: 10px;
}

/* Bottom text */
.poem {
  padding: 20px;
  line-height: 1.6;
  font-size: 14px;
}

.poem {
  padding: 20px;
  line-height: 1.8;
  font-size: 15px;
  color: #800000;
  font-style: italic;
  text-shadow: 0 0 5px rgba(128, 0, 0, 0.3);
}